<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h1>write new chat!</h1>
    <form method="POST" action="/chats">
        <input placeholder="your name" name = "from">
        <br><br>
        <textarea name = "message" placeholder=" write your messege"></textarea>
        <br><br>
        <input placeholder="reciver name" name = "to">
        <br><br>
        <button>create chat</button>
    </form>
</body>
</html>