.chat {
    background-color: aliceblue;
    display: inline-block;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

.chat p {
    margin: 0 10px;
}
.msg{
    background-color: rgb(97, 97, 162);
    color: white;
}